<div class="row">  
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form [formGroup]="frm" (ngSubmit)="onSubmit(frm.value)">
            <div class="mb-3">
                <label for="nameSurname" class="form-label">Name Surname</label>
                <input type="text" formControlName="nameSurname" class="form-control" id="nameSurname" aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="userName" class="form-label">UserName</label>
                <input type="text" formControlName="userName" class="form-control" id="userName" aria-describedby="emailHelp">
              </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email address</label>
              <input type="email" formControlName="email" class="form-control" id="email" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" formControlName="password" class="form-control" id="password">
            </div>
            <div class="mb-3">
                <label for="passwordRepeat" class="form-label">Password Repeat</label>
                <input type="password" formControlName="passwordRepeat" class="form-control" id="passwordRepeat">
              </div>
            <button type="submit" class="btn btn-primary">Register</button>
          </form>
    </div>
    <div class="col-md-4"></div>
</div>