<div class="row">

    <div style="float:left; margin: 5px; " class="col-3" *ngFor="let product of products">
        <div class="card" style="width: 18rem;">
            <img src="{{product.productImageFiles[0]}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <p class="card-text">CreatedDate: {{product.createdDate}}</p>
                <p class="card-text">UpdatedDate: {{product.updatedDate}}</p>
                <p class="card-text">Price: {{product.price}} azn</p>
                <a href="#" class="btn btn-primary">Add basket</a>
            </div>
        </div>
    </div>
    <div class="row" style="align-items: center ;">
        <div class="col-3">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" 
                            [routerLink]="['/products',currentPageNo-1<=0 ? 1:currentPageNo-1]">Previous</a></li>
                    <li class="page-item" *ngFor="let pageNo of pageList">
                        <a class="page-link" routerLinkActive="active" [routerLink]="['/products', pageNo]">{{ pageNo }}</a>
                    </li>
                    <li class="page-item"><a class="page-link"  [routerLink]="['/products',currentPageNo+1>=totalPageCount ? totalPageCount:currentPageNo+1]">Next</a></li>
                </ul>
            </nav>
        </div>
    </div>